<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>
<style>

</style>
<body>
    
    <div id="app">
        <input type="text" v-model='add' class="add">
        <select name="" id="" v-model='del'>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <!-- <div  v-model='del'>
            <div value="+">+</div>
            <div value="-">-</div>
            <div value="*">*</div>
            <div value="/">/</div>
        </div> -->
        <input type="text" v-model='check'>
        <input type="button" value="=" @click='math'>
        <input type="text" :value='res' disabled >

    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                add:'0',
                del:'/',
                check:'0',
                res:'0'
            },
            methods:{
                math(){
                    switch(this.del){
                        case '+':
                        this.res = parseFloat(this.add) + parseFloat(this.check)
                        case '-':
                        this.res = parseFloat(this.add) - parseFloat(this.check)
                        case '*':
                        this.res = parseFloat(this.add) * parseFloat(this.check)
                        case '/':
                        this.res = parseFloat(this.add) / parseFloat(this.check)
                    }
                }
            }
        })
    </script>
</body>
</html>