<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="vn">
        <select v-model="add">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="noc">
        <input type="button" value="=" @click = "math">
        <input type="text" disabled :value="result">
    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                msg:'',
                vn:'0',
                noc:'0',
                result:'0',
                add:'+'
            },
            methods:{
                math(){
                    switch(this.add){
                        case '+' :
                            this.result= parseFloat(this.vn) + parseFloat(this.noc)
                        break;
                        case '-' :
                            this.result= parseFloat(this.vn) - parseFloat(this.noc)
                        break;
                        case '*' :
                            this.result=parseFloat(this.vn) * parseFloat(this.noc)
                        break;
                        case '/' :
                            this.result= parseFloat(this.vn) / parseFloat(this.noc)
                        break;
                    }
                }
            }
        });
    </script>
</body>
</html>